
<h1>Your search: <%= search %></h1>

<div class="container">
  <div class "row">
    <div class="col-xs-6"><h2>Retailer Spotlight: <%=retailer_name%></h2></div>
    <div class="col-xs-6"><h3><%= narrative%></h3></div>
  </row>
    <div class="row">
      <div class="col-xs-4"><h5>Our pick</h5></div>
      <div class="col-xs-4">
          <img src="<%= image%>" width="50%"/>
      </div>
      <div class="col-xs-4">
        <p><%= description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <h4>For more inspiration</h4>
      </div>
    </div>
      <div class="row">
      <div class="col-xs-3">
          <img src="<%= images.at(2)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(3)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(4)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(5)%>" width="50%"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
          <img src="<%= images.at(6)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(7)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(8)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(9)%>" width="50%"/>
      </div>
    </div>
</div>
