<!-- <p>
Your search: <%= search %>
id: <%= id%> -->
<!-- image: <%= image%> -->
<!-- <img src= <%= image%>></img> -->
<!-- </p> -->
<!-- <div class="col-md-4">
    <div class="widget-container">
        <div class="widget row image-tile">
            <div class="tile col-md-4" style="background: url('<%= image%>') no-repeat center top; background-size: cover;">
                <p>
                </p>
            </div>
            <div class="tile col-md-8" style="background: url('<%= images.at(2)%>) no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile col-md-4" style="background: url('<%= images.at(3)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile col-md-8" style="background: url('<%= images.at(4)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile col-md-4" style="background: url('<%= images.at(5)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile col-xs-4" style="background: url('<%= images.at(6)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile col-xs-4" style="background: url('<%= images.at(7)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile col-xs-8" style="background: url('<%= images.at(8)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>

            <div class="tile col-xs-4" style="background: url('<%= images.at(9)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>

            <div class="tile col-xs-8" style="background: url('<%= images.at(10)%>') no-repeat center top; background-size: cover;">
                <p>view gallery </p>
            </div>
            <div class="tile more-images col-xs-4">
                <div class="images-number">42+</div>
                Pictures
            </div>
        </div>
    </div>
</div> -->
<h1>Your search: <%= search %></h1>

<div class="container">
  <div class "row">
    <!-- <div class="col-md-12 col-md-offset-2"><h2>Your search: <%= search %></h2></div> -->
    <div class="col-xs-6"><h2>Retailer Spotlight: <%=retailer_name%></h2></div>
    <div class="col-xs-6"><h3><%= narrative%></h3></div>
  </row>
    <div class="row">
      <div class="col-xs-4"><h4>Our pick</h4></div>
      <div class="col-xs-4">
          <img src="<%= image%>" width="50%"/>
      </div>
      <div class="col-xs-4">
        <p><%= description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <h4>For more inspiration</h4>
      </div>
    </div>
      <div class="row">
      <div class="col-xs-3">
          <img src="<%= images.at(2)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(3)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(4)%>" width="50%"/>
      </div>
      <div class="col-xs-3">
          <img src="<%= images.at(5)%>" width="50%"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
          <img src="<%= images.at(6)%>" width="50%"/>
      </div>
      <div class="col-xs-4">
          <img src="<%= images.at(7)%>" width="50%"/>
      </div>
      <div class="col-xs-4">
          <img src="<%= images.at(8)%>" width="50%"/>
      </div>
    </div>
</div>
    <!-- <div class="container"> -->

      <!-- <div class="col-md-4">
        <div class="widget-container">
        <div class="widget row image-tile">
          <div class="row">
            <div class="tile col-xs-4" style="background: url('http://lorempixel.com/400/200/nature/1/') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-xs-8" style= "background: url('http://lorempixel.com/400/200/nature/1/') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-xs-4" style= "background: url('http://lorempixel.com/400/200/nature/1/') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-xs-8" style= "background: url('http://lorempixel.com/400/200/nature/1/') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-sm-3" style="background: url('<%= image%>') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-sm-3" style= "background: url('<%= images.at(2)%>') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-sm-3" style= "background: url('<%= images.at(3)%>') no-repeat center top; background-size: cover;"></div>
            <div class="tile col-sm-3" style= "background: url('<%= images.at(4)%>') no-repeat center top; background-size: cover;"></div>
          </div>
    </div>
  </div> -->
      <!-- <div class="row">
        <div class="col-md-1"><img src= <%= images.at(5)%>></img></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
      </div> -->
    <!-- </div> -->

      <!-- <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div> -->
